<main className="main-page" id="content">You are in the Static Pages Root</main>

<script type="text/javascript">
  window.askAnythingAssets = {
    logo: "<%= image_url('logo.jpg') %>",
    participant: "<%= image_url('signup-participant.jpg') %>",
    presenter: "<%= image_url('signup-presenter.jpg') %>",
    background: "<%= image_url('auditorium_seats.jpg') %>",
    phone: "<%= image_url('phone_image.png') %>"
  }
</script>
