<!DOCTYPE html>
<html>
<head>
  <title>Ask Anything!</title>
  <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>
</head>

<body>

<%= yield %>

</body>
